global
    maxconn 100
    log stdout  format raw  local0

defaults
    log global
    mode tcp
    timeout client 30m
    timeout connect 4s
    timeout server 30m
    timeout check 5s


# haproxy live statistics
frontend stats
    bind *:18404
    mode http
    stats enable
    stats uri /
    stats refresh 10s


# postgres configurations
listen postgres1
    bind *:15001
    mode tcp
    server server patroni1:15001 check port 15001

listen postgres2
    bind *:15002
    mode tcp
    server server patroni2:15002 check port 15002

listen postgres3
    bind *:15003
    mode tcp
    server server patroni3:15003 check port 15003

listen postgres-cert
    bind *:15004
    mode tcp
    server server patroni-cert:15004 check port 15004

listen postgres-pass
    bind *:15005
    mode tcp
    server server patroni-pass:15005 check port 15005

# patroni configurations
# frontend that requires /etc/hosts routes
frontend patroni-front
    bind *:18008
    mode tcp
    use_backend %[req.hdr(Host),lower,word(1,:)]

# frontend direct to patroni
frontend patroni1-front
    bind *:18001
    mode tcp
    use_backend patroni1

frontend patroni2-front
    bind *:18002
    mode tcp
    use_backend patroni2

frontend patroni3-front
    bind *:18003
    mode tcp
    use_backend patroni3

frontend patroni-cert-front
    bind *:18004
    mode tcp
    use_backend patroni-cert

frontend patroni-pass-front
    bind *:18005
    mode tcp
    use_backend patroni-pass

backend patroni1
    mode tcp
    server server patroni1:18001 check

backend patroni2
    mode tcp
    server server patroni2:18002 check

backend patroni3
    mode tcp
    server server patroni3:18003 check

backend patroni-cert
    mode tcp
    server server patroni-cert:18004 check

backend patroni-pass
    mode tcp
    server server patroni-pass:18005 check
