.simple {
    .cm-editor.cm-focused {
        outline: none;
    }
    .cm-line {
        /* we need 1px here because for some reason cursor disappears */
        padding: 0 0 0 1px;
    }
    .cm-content {
        padding: 0;
    }
}
