/* we can modify scrollbar only via styles otherwise we have problem with types */

/* ----- SHOW ----- */

.show {
    overflow-y: scroll;
}

/* ----- TINY ----- */

.tiny::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

/* ----- SMALL ----- */

.small::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* ----- DEFAULT ----- */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(100, 100, 100, 0.1);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(100, 100, 100, 0.2);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(100, 100, 100, 0.4);
}

::-webkit-scrollbar-thumb:active {
    background: rgba(100, 100, 100, 0.5);
}
