/* we can modify scrollbar only via styles otherwise we have problem with types */
/* width */
.tiny::-webkit-scrollbar {
    width: 4px;
}

/* Track */
.tiny::-webkit-scrollbar-track {
    background: inherit;
}

/* Handle */
.tiny::-webkit-scrollbar-thumb {
    background: #6b6b6b;
    border-radius: 2px;
}
