name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  go:
    name: Build (go)
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.23'

    - name: Build
      working-directory: service
      run: |
        go version
        make build

#     - name: Test
#       run: go test

  javascript:
    name: Build (javascript)
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up JavaScript
      uses: actions/setup-node@v4
      with:
        node-version: '22'

    - name: Build
      working-directory: web
      run: |
        node -v
        npm -v
        npm install
        npm run build

#     - name: Test
#       run: yarn test
