name: Realease

on:
  release:
    

jobs:

  build:
    runs-on: ubuntu-latest
    environment: production
    steps:
    
    # Set up envirenment
    - name: Checkout & fetch repository
      uses: actions/checkout@v2
      
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1
      
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1
      
    - name: Set up GO
      uses: actions/setup-go@v2.1.5
      with:
        go-version: '1.17'
        
    - name: Set up Node (yarn, npm)
      uses: actions/setup-node@v2.5.1
      with:
        node-version: '16'
        
        
    # Build service
    - name: Install & Build web
      working-directory: web
      run: |
        node -v
        yarn version
        yarn install
        yarn run build
      
    - name: Intall & Build binary for service
      working-directory: service
      run: |
        go version
        GOOS=linux GOARCH=amd64 go build -o build
        
        
    # Publish docker  
    - name: Login to DockerHub Registry
      uses: docker/login-action@v1 
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v1 
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ github.token }}
        
    - name: Build and push docker
      uses: docker/build-push-action@v2
      with:
        context: .
        platforms: linux/amd64,linux/arm64
        push: true
        tags: |
          aelsegeev/ivory:latest
          aelsegeev/ivory:${{ github.event.release.tag_name }}
          ghcr.io/veegres/ivory:latest
          ghcr.io/veegres/ivory:${{ github.event.release.tag_name }}

